/*Move the box to the left by 50px using transitions and left property.
Transition should take 1 second and its timing function should be set to ease-in. HINT:
what position should an element have to make the offset properties work?
When using offset properties do we need to set them before and after transition or just after?
Transition should be triggered on hover*/

.box {
  background-color: #79797f;
  width: 150px;
  height: 150px;
  position: relative;
  left: 0px;
}

.box:hover{
    left: 50px;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}